.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--sidebar-width);
    height: 100%;
    z-index: 99;
    background-color: var(--bluegray-100);
}

.sidebar .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;

}

.sidebar .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10%;
}

.footer .item {
    padding: 1rem;
}

.sidebar .content .item {
    padding: 1rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.item img {
    width: 2rem;
}

.item a span {
    color: var(--purple-700);
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
}

.item-navigation:hover {
    background-color: var(--purple-500) !important;
    border-radius: 1rem;
}

.item-selected {
    background-color: var(--purple-700) !important;
    border-radius: 1rem;
}

.sidebar-header {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-header span {
    font-size: 1.2rem;
    color: var(--purple-700);
    font-weight: 500;
}


.sidebar-header a {
    padding: 0.5rem;
}


.sidebar-header a:hover {
    background-color: var(--purple-700) !important;
    border-radius: 1rem;
}



/* SIDEBAR EXPAND */

.sidebar-header-expand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}

.item-title {
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    margin-left: 1rem;
}

.sidebar-header-expand img {
    width: 1.5rem;
}

.sidebar-header-expand span {
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
}

.sidebar-header-expand a {
    padding: 0.5rem;
}

.sidebar-header-expand a:hover {
    background-color: var(--purple-600) !important;
    border-radius: 1rem;
}

.item-expand {
    padding: 0.8rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.item-expand:hover:hover {
    background-color: var(--purple-600) !important;
    border-radius: 1rem;
}

.sidebar-expand a:hover {
    background-color: var(--purple-700) !important;
    border-radius: 1rem;
}


.item-selected-expand {
    background-color: var(--purple-700) !important;
    border-radius: 1rem;
}

.expand-content {
    height: calc(90% - 1rem) !important;
}

.expand-footer {
    height: 10% !important;
}

.item-logout {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
}

.user-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-profile {
    width: 3rem !important;
}

.user-name {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    margin-left: 1rem;
}

.user-office {
    font-size: 0.9rem;
    font-weight: 400;
    color: #fff;
    margin-left: 1rem;
}