<ng-container *ngIf="isPermission()">
    <div class="sidebar">
        <div class="content">
            <header class="item">
            <a href="javascript:void(0)"><span>Petiscar</span></a>
            </header>
            <ng-container *ngFor="let sidebarItem of sidebarItens">
                <ng-container #dropdownMenu *ngIf="sidebarItem?.items?.length">
                    <div *ngIf="isRolePermission(sidebarItem)" (mouseover)="getSidebarIcon(sidebarItem, true)" (mouseout)="getSidebarIcon(sidebarItem, false)" (click)="menu.toggle($event)"  [pTooltip]="sidebarItem.tooltip" class="item item-navigation {{isItemSelected(sidebarItem) ? 'item-selected' : ''}}">
                        <a href="javascript:void(0)" routerLinkActive="router-link-active" ><img [src]="sidebarItem.selected ? sidebarItem.iconColor : sidebarItem.icon" [alt]="sidebarItem.name"></a>
                    </div>
                    <p-menu #menu [popup]="true" [model]="sidebarItem.items"></p-menu>
                </ng-container>
                <ng-container #staticMenu *ngIf="!sidebarItem?.items?.length">
                    <div *ngIf="isRolePermission(sidebarItem)" (mouseover)="getSidebarIcon(sidebarItem, true)" (mouseout)="getSidebarIcon(sidebarItem, false)" [routerLink]="sidebarItem.url" [pTooltip]="sidebarItem.tooltip" class="item item-navigation {{isItemSelected(sidebarItem) ? 'item-selected' : ''}}">
                        <a href="javascript:void(0)" routerLinkActive="router-link-active" ><img [src]="sidebarItem.selected ? sidebarItem.iconColor : sidebarItem.icon" [alt]="sidebarItem.name"></a>
                    </div>
                </ng-container>
            </ng-container>
        </div>
        <div class="footer">
            <div (click)="logout()" (mouseover)="getSidebarIcon(sidebarLogout, true)" (mouseout)="getSidebarIcon(sidebarLogout, false)" [pTooltip]="sidebarLogout.tooltip" class="item item-navigation">
                <a href="javascript:void(0)" routerLinkActive="router-link-active" ><img [src]="sidebarLogout.icon" [alt]="sidebarLogout.name"></a>
            </div>
        </div>
    </div>
</ng-container>
