<div class="content">
    <div class="ui-card d-flex register-card">
        <div class="register-image">
            <img [src]="logo" class="img-fluid" alt="logo">
        </div>
        <div class="d-flex align-items-center">
            <div id="register" class="register-form">
                <form [formGroup]="registerForm" class="p-4">
                    <span class="h3 register-title">Registre-se</span>
                    <div class="form-group">
                        <div class="p-fluid p-grid">
                            <div class="p-field p-col-12">
                              <span class="p-float-label">
                                <input type="text" id="name" pInputText autocomplete="off" formControlName="name" />
                                <label for="name">Nome Completo</label>
                              </span>
                            </div>
                        </div>
                        <p *ngIf="getFormValid('name', 'required')" class="mt-1">esse campo é obrigatório.</p>
                        <p *ngIf="getFormValid('name', 'minlength')" class="mt-1">esse campo deve ter mais de 3 characters.</p>
                    </div>
                    <div class="form-group pt-2">
                        <div class="p-fluid p-grid">
                            <div class="p-field p-col-12">
                                <span class="p-float-label">
                                    <input type="text" id="email" autocomplete="off" pInputText formControlName="email"> 
                                    <label for="email">Email</label>
                                </span>
                            </div>
                        </div>
                        <p *ngIf="getFormValid('email', 'required')" class="mt-1">esse campo é obrigatório.</p>
                        <p *ngIf="getFormValid('email', 'email')" class="mt-1">esse campo deve ser um email válido.</p>
                        <p *ngIf="getFormValid('email', 'isEmailRegistred')" class="mt-1">esse email já possui cadastro.</p>
                    </div>
                    <div class="form-group pt-2">
                        <div class="p-fluid p-grid">
                            <div class="p-field p-col-12">
                                <span class="p-float-label p-input-icon-right">
                                    <i *ngIf="!viewPassword" (click)="setViewPassword()" class="pi pi-eye cursor-pointer"></i>
                                    <i *ngIf="viewPassword" (click)="setViewPassword()" class="pi pi-eye-slash cursor-pointer"></i>
                                    <input [type]="viewPassword ? 'text' : 'password'" id="inputtext-right" autocomplete="off" pInputText formControlName="password"> 
                                    <label for="inputtext-right">Senha</label>
                                </span>
                            </div>
                        </div>
                        <p *ngIf="getFormValid('password', 'required')" class="mt-1">esse campo é obrigatório.</p>
                        <p *ngIf="getFormValid('password', 'minlength')" class="mt-1">esse campo deve ter mais de 7 characters.</p>
                        <p *ngIf="isPasswordValid()" class="mt-1">as senhas devem ser iguais.</p>
                    </div>
                    <div class="form-group pt-2">
                        <div class="p-fluid p-grid">
                            <div class="p-field p-col-12">
                                <span class="p-float-label p-input-icon-right">
                                    <i *ngIf="!viewConfirmPassword" (click)="setViewConfirmePassword()" class="pi pi-eye cursor-pointer"></i>
                                    <i *ngIf="viewConfirmPassword" (click)="setViewConfirmePassword()" class="pi pi-eye-slash cursor-pointer"></i>
                                    <input [type]="viewConfirmPassword ? 'text' : 'password'" id="cofirmPassword" autocomplete="off" pInputText formControlName="cofirmPassword"> 
                                    <label for="cofirmPassword">Confirmar Senha</label>
                                </span>
                            </div>
                        </div>
                        <p *ngIf="getFormValid('cofirmPassword', 'required')" class="mt-1">esse campo é obrigatório.</p>
                        <p *ngIf="getFormValid('cofirmPassword', 'minlength')" class="mt-1">esse campo deve ter mais de 7 characters.</p>
                        <p *ngIf="isPasswordValid()" class="mt-1">as senhas devem ser iguais.</p>
                    </div>
                    <div class="form-group">
                        <div class="d-flex justify-content-center mt-4">
                            <button *ngIf="!(registerUserEvent$ | async); else spinnerButton" (click)="register()" pButton [disabled]="!isFormValid()" type="button" label="Cadastrar" class="p-button-outlined p-large-button btn-animation-slideout"></button>
                        </div>
                    </div>
                    <div *ngIf="!(registerUserEvent$ | async)" class="form-group text-center d-flex flex-column">
                        <span>Já possui cadastro?</span>
                        <a (click)="navigateLogin()" href="javascript:void(0)">Entrar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<ng-container *ngIf="(this.registerUserEvent$ | async)">
    <app-spinner></app-spinner>
</ng-container>


<ng-template #spinnerButton>
    <button pButton type="button" class="p-button-outlined btn-animation-slidein"><app-spinner-button></app-spinner-button></button>
</ng-template>