.content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-card {
    width: 100%;
    padding: 0px 0px;
    border-radius: 1rem;
    overflow: hidden;
    margin: 0px 0.5rem;
    display: flex;
    justify-content: space-around;
}

.register-title {
    color: #8B5CF6;
    display: flex;
    justify-content: center;
    padding-bottom: 0.5rem;
    
}

.register-form {
    width: 30rem;
}

.register-image {
    height: 100% !important; 
}

#register {
    animation: opacity 1s;
}



@keyframes opacity {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 920px) {
    .register-image {
        display: none;
    }

    .register-title {
        padding-top: 2rem;
    }

    .register-form {
        width: auto;
    }
    
}