<div class="row">
    <div class="col-12">
        <div class="page-header">
            <h5 class="title">Promoções</h5>
           <div>
                <app-filter-bar [(display)]="isDisplayFilter" [bodyTemplate]="filterBody" [footerTemplate]="filterFooter"></app-filter-bar>
                <button (click)="displayModalPromotion(modalPromotionForm)" pTooltip="Adicionar" pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-primary p-button-outlined ms-2"></button>
           </div>
        </div>
        <hr class="page-header">
        <div class="ui-card">
            <p-table *ngIf="!(promotionLoadEvent$ | async) && promotions?.length" [value]="promotions">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nome</th>
                        <th>Desconto</th>
                        <th>Data Início</th>
                        <th>Data Fim</th>
                        <th>Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-promotion>
                    <tr>
                        <td>
                            {{promotion.name.toLowerCase()}}
                            <p-badge *ngIf="!promotion?.active" class="ms-1" value="Desabilitado"  severity="danger"  severity="danger"></p-badge>
                        </td>

                        <td>{{promotion?.percentageDiscount ? '' : 'R$'}} {{ promotion?.discount?.toFixed(2)}}{{promotion?.percentageDiscount ? '%' : ''}}</td>
                        <td>{{promotion?.dhi}}</td>
                        <td>{{promotion?.dhf}}</td>
                        <td>
                            <button (click)="displayModalPromotion(modalPromotionForm, promotion)" pTooltip="Editar" pButton pRipple type="button" icon="pi pi-pencil" class="me-2 p-button-primary p-button-rounded p-button-text"></button>
                            <button *ngIf="promotion?.active" (click)="updateStatusPromotion(promotion)" pTooltip="Desabilitar" pButton pRipple type="button" icon="pi pi-times" class="p-button-primary p-button-rounded p-button-text"></button>
                            <button *ngIf="!promotion?.active" (click)="updateStatusPromotion(promotion)" pTooltip="Habilitar" pButton pRipple type="button" icon="pi pi-check" class="p-button-primary p-button-rounded p-button-text"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <div *ngIf="!(promotionLoadEvent$ | async) && !promotions?.length" class="mt-4">
                <p-message severity="info" text="Nenhuma Informação Encontrada" styleClass="d-flex"></p-message>
            </div>
            <div class="mt-2">
                <app-paginator
                [page]="pagination" (changePageEvent$)="changePage($event)"
            ></app-paginator>
            </div>
        </div>
    </div>
</div>

<ng-template #modalPromotionForm>
    <app-modal-create-promotion
        (finishEvent$)="updatePromotionInPage($event)"
        [promotion]="promotion" [(display)]="isDisplayModal" 
    ></app-modal-create-promotion>
</ng-template>

<ng-container *ngIf="(promotionLoadEvent$ | async) || (promotionUpdateEvent$ | async)">
    <app-spinner></app-spinner>
</ng-container>


<ng-template #filterBody>
    <form [formGroup]="filterForm">
        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" id="name" class="form-input" pInputText autocomplete="off" placeholder="Nome da promoção" formControlName="name" />
        </div>
        <div class="form-group">
            <label for="discountMin">Desconto de</label>
            <input type="text" id="discountMin" class="form-input" pInputText autocomplete="off" placeholder="Desconto mínimo da promoção" formControlName="discountMin" />
        </div>
        <div class="form-group">
            <label for="discountMax">Desconto até</label>
            <input type="text" id="discountMax" class="form-input" pInputText autocomplete="off" placeholder="Desconto máximo da promoção" formControlName="discountMax" />
        </div>
        <div class="form-group">
            <label for="dhi">Data de início</label>
            <p-calendar dateFormat="dd/mm/yy" formControlName="dhi" [showClear]="true" id="dhi" class="form-input" autocomplete="off" appendTo="body" placeholder="Data inicial da promoção"></p-calendar>
        </div>
        <div class="form-group">
            <label for="dhf">Data final</label>
            <p-calendar dateFormat="dd/mm/yy" formControlName="dhf" id="dhf" [showClear]="true" autocomplete="off" appendTo="body" placeholder="Data final da promoção"></p-calendar>
        </div>
        <div class="form-group">
            <label for="status">Status</label>
            <p-dropdown [options]="status" formControlName="status" id="status" [emptyMessage]="'Selecione um status'" [showClear]="true" [placeholder]="'Selecione um status'" optionValue="status" optionLabel="name"></p-dropdown>
        </div>
        <div class="form-group">
            <label for="percentageDiscount">Tipo de Desconto</label>
            <p-dropdown [options]="typeDiscounts" formControlName="percentageDiscount" id="percentageDiscount" [emptyMessage]="'Selecione um status'" [showClear]="true" [placeholder]="'Selecione um tipo'" optionValue="status" optionLabel="name"></p-dropdown>
        </div>
    </form>
</ng-template>

<ng-template #filterFooter>
    <div class="form-group d-flex justify-content-around align-items-center">
        <button (click)="search()" pTooltip="Pesquisar" tooltipPosition="left" pButton pRipple type="text" class="p-button-rounded p-button-primary p-button-outlined" icon="pi pi-search"></button>
        <button (click)="clearFilters()" pTooltip="Limpar" tooltipPosition="left" pButton pRipple type="text" class="p-button-rounded p-button-primary p-button-outlined" icon="pi pi-trash"></button>
    </div>
</ng-template>