<div class="row">
    <div class="col-12">
        <div class="page-header">
            <h5 class="title">Produtos</h5>
           <div>
                <app-filter-bar [(display)]="isDisplayFilter" [bodyTemplate]="filterBody" [footerTemplate]="filterFooter"></app-filter-bar>
                <button (click)="displayModalCategory(modalProductForm)" pTooltip="Adicionar" pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-primary p-button-outlined ms-2"></button>
           </div>
        </div>
        <hr class="page-header">
        <div class="ui-card">
            <app-table-products *ngIf="!(loadProductEvent$ | async)"
                (editProductEvent$)="displayModalCategory(modalProductForm, $event)" (updateStatusEvent$)="updateStatusCategory($event)"
                [isEditProduct]="true" [isUpdateStatus]="true" [build]="build"
            ></app-table-products>
        </div>
    </div>
</div>

<ng-template #modalProductForm>
    <app-modal-create-product
        (finishEvent$)="updateProductInPage($event)" 
        [product]="product" [(display)]="isDisplayModal" [categories]="categories"
    ></app-modal-create-product>
</ng-template>

<ng-container *ngIf="(updateProductEvent$ | async)">
    <app-spinner></app-spinner>
</ng-container>


<ng-template #filterBody>
    <form [formGroup]="filterForm">
        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" id="name" class="form-input" pInputText autocomplete="off" placeholder="Nome do produto" formControlName="name" />
        </div>
        <div class="form-group">
            <label for="description">Descrição</label>
            <input type="text" id="description" class="form-input" pInputText autocomplete="off" placeholder="Descrição do produto" formControlName="description" />
        </div>
        <div class="form-group">
            <label for="price">Categoria</label>
            <p-dropdown [options]="categories" formControlName="categoryId" id="categoryId" [emptyMessage]="'Selecione uma categoria'" [showClear]="true" [placeholder]="'Selecione uma categoria'" optionValue="id" optionLabel="name"></p-dropdown>
        </div>
        <div class="form-group">
            <label for="priceMin">Preço Minimo</label>
            <p-inputNumber inputId="currency-brazil" mode="currency" currency="BRL" locale="pt-BR" id="priceMin" [maxlength]="10" class="form-input" formControlName="priceMin" autocomplete="off" placeholder="0.00"></p-inputNumber>
        </div>
        <div class="form-group">
            <label for="priceMax">Preço Maximo</label>
            <p-inputNumber inputId="currency-brazil" mode="currency" currency="BRL" locale="pt-BR" id="priceMax" [maxlength]="10" class="form-input" formControlName="priceMax" autocomplete="off" placeholder="0.00"></p-inputNumber>
        </div>
        <div class="form-group">
            <label for="status">Status</label>
            <p-dropdown [options]="status" formControlName="status" id="status" [emptyMessage]="'Selecione um status'" [showClear]="true" [placeholder]="'Selecione um status'" optionValue="status" optionLabel="name"></p-dropdown>
        </div>
    </form>
</ng-template>

<ng-template #filterFooter>
    <div class="form-group d-flex justify-content-around align-items-center">
        <button (click)="search()" pTooltip="Pesquisar" tooltipPosition="left" pButton pRipple type="text" class="p-button-rounded p-button-primary p-button-outlined" icon="pi pi-search"></button>
        <button (click)="clearFilters()" pTooltip="Limpar" tooltipPosition="left" pButton pRipple type="text" class="p-button-rounded p-button-primary p-button-outlined" icon="pi pi-trash"></button>
    </div>
</ng-template>