<div class="modal-body">
   <app-table-products
        [isSelectProduct]="true" [(productsSelected)]="productsSelected" [(build)]="build"
   ></app-table-products>
</div>
<div class="modal-footer">
    <button (click)="closeModal()" pButton type="button" label="Voltar" class="p-button-secondary p-button-outlined me-2"></button>
    <button [swal]="confirmFinish" (confirm)="save()" pButton type="button" [label]="'Finalizar'" class="p-button-outlined"></button>
</div>

<ng-container *ngIf="(finishLoadEvent$ | async)">
    <app-spinner></app-spinner>
</ng-container>

<swal #confirmFinish
    type="warning" 
    title="Aviso"
    text="Deseja finalizar as alteração realizadas? essa ação é irreversível."
    confirmButtonText="Confirmar" 
    confirmButtonColor="#7E57C2" 
    cancelButtonText="Cancelar" 
    cancelButtonColor="#9E9E9E"
    [showCancelButton]="true" 
    [focusCancel]="true">
</swal>