<div class="row">
    <div class="col-12">
        <div class="page-header">
            <h5 class="title">Categorias</h5>
           <div>
                <app-filter-bar [(display)]="isDisplayFilter" [bodyTemplate]="filterBody" [footerTemplate]="filterFooter"></app-filter-bar>
                <button (click)="displayModalCategory()" pTooltip="Adicionar" pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-primary p-button-outlined ms-2"></button>
           </div>
        </div>
        <hr class="page-header">
        <div class="ui-card">
            <p-table *ngIf="!(categoryLoadEvent$ | async) && categories?.length" [value]="categories">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nome</th>
                        <th>Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-category>
                    <tr>
                        <td>
                            {{category.name.toLowerCase()}}
                            <p-badge *ngIf="!category?.active" class="ms-1" value="Desabilitado"  severity="danger"  severity="danger"></p-badge>
                        </td>
                        <td>
                            <button (click)="displayModalCategory(category)" pTooltip="Editar" pButton pRipple type="button" icon="pi pi-pencil" class="me-2 p-button-primary p-button-rounded p-button-text"></button>
                            <button *ngIf="category?.active" (click)="updateStatusCategory(category)" pTooltip="Desabilitar" pButton pRipple type="button" icon="pi pi-times" class="p-button-primary p-button-rounded p-button-text"></button>
                            <button *ngIf="!category?.active" (click)="updateStatusCategory(category)" pTooltip="Habilitar" pButton pRipple type="button" icon="pi pi-check" class="p-button-primary p-button-rounded p-button-text"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <div *ngIf="!(categoryLoadEvent$ | async) && !categories?.length" class="mt-4">
                <p-message severity="info" text="Nenhuma Informação Encontrada" styleClass="d-flex"></p-message>
            </div>
            <div class="mt-2">
                <app-paginator
                [page]="pagination" (changePageEvent$)="changePage($event)"
            ></app-paginator>
            </div>
        </div>
    </div>
</div>

<ng-container *ngIf="(modalCategoryEvent$ | async)">
    <app-modal-create-category
        (finishEvent$)="updateCategoryInPage($event)"
        [category]="category" [(display)]="isDisplayModal" 
    ></app-modal-create-category>
</ng-container>

<ng-container *ngIf="(categoryLoadEvent$ | async) || (categoryUpdateEvent$ | async)">
    <app-spinner></app-spinner>
</ng-container>


<ng-template #filterBody>
    <form [formGroup]="filterForm">
        <div class="form-group">
            <div class="p-fluid p-grid">
                <div class="p-field p-col-12">
                  <span class="p-float-label">
                    <input type="text" id="name" pInputText autocomplete="off" formControlName="name" />
                    <label for="name">Nome</label>
                  </span>
                </div>
            </div>
        </div>
    </form>
</ng-template>

<ng-template #filterFooter>
    <div class="form-group d-flex justify-content-around align-items-center">
        <button (click)="search()" pTooltip="Pesquisar" tooltipPosition="left" pButton pRipple type="text" class="p-button-rounded p-button-primary p-button-outlined" icon="pi pi-search"></button>
        <button (click)="clearFilters()" pTooltip="Limpar" tooltipPosition="left" pButton pRipple type="text" class="p-button-rounded p-button-primary p-button-outlined" icon="pi pi-trash"></button>
    </div>
</ng-template>