<app-modal [title]="title" [display]="display" [class]="modal.MD" (closeModalEvent$)="modalEvent(false)">
    <div modal-body>
        <div class="row">
            <div class="col-12">
                <form [formGroup]="productForm">
                    <div class="form-group">
                        <label for="name">Nome</label>
                        <input formControlName="name" id="name" class="form-input" type="text" pInputText autocomplete="off" placeholder="Nome do Produto"/>
                        <p *ngIf="!isFieldValid('name')">Nome do produto é obrigatório.</p>
                    </div> 
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label for="price">Preço</label>
                                <p-inputNumber inputId="currency-brazil" mode="currency" currency="BRL" locale="pt-BR" id="price" [maxlength]="10" class="form-input" formControlName="price" autocomplete="off" placeholder="0.00"></p-inputNumber>
                                <p *ngIf="!isFieldValid('price')">O preço do produto é obrigatório.</p>
                            </div>
                            <div class="col-6">
                                <!-- <label for="price">Categoria</label> -->
                                <p-dropdown [options]="categories" formControlName="categoryId" optionValue="id" class="form-input" placeholder="Selecione a Categoria" optionLabel="name" [showClear]="true"></p-dropdown>
                            </div>
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <label for="price">Descrição</label>
                        <textarea rows="5" cols="30" class="form-input" pInputTextarea [autoResize]="true"></textarea>
                        <!-- <p-inputNumber inputId="currency-brazil" mode="currency" currency="BRL" locale="pt-BR" id="price" [maxlength]="10" class="form-input" formControlName="price" autocomplete="off" placeholder="0.00"></p-inputNumber> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div modal-footer>
        <div class="d-flex justify-content-end">
            <ng-container *ngIf="!(createProductEvent$ | async); else spinnerButton">
                <button (click)="closeModal()" pButton type="button" label="Voltar" class="p-button-secondary p-button-outlined me-2"></button>
                <button (click)="save()" pButton type="button" [disabled]="!isProductFormValid()" [label]="labelButtonFinish" class="p-button-outlined"></button>
            </ng-container>
        </div>
    </div>
</app-modal>


<ng-template #spinnerButton>
    <button pButton pRipple class="purple" type="button" class="p-button-outlined btn-animation-slidein"><app-spinner-button></app-spinner-button></button>
</ng-template>
